<div class="navigation">
    <button mat-raised-button color="primary" (click)="createNode()">Create Node</button>
    <button mat-raised-button color="accent" (click)="createLink()">Create Link</button>
    <button mat-raised-button color="warn" (click)="deleteSelection()">Delete</button>

    <mat-button-toggle-group (change)="changeStyle(group.value)" #group="matButtonToggleGroup">
        <mat-button-toggle value="dot">C</mat-button-toggle>
        <mat-button-toggle value="square">S</mat-button-toggle>
        <mat-button-toggle value="diamond">D</mat-button-toggle>
    </mat-button-toggle-group>
</div>