div.navigation {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 110px;
    height: 110px;
    background-color: rgba(255, 255, 0, 0);
    z-index: 10;
    button
    {
    margin: 2px;
    width: 100%;
    }
    .mat-button-toggle {
      width: 100%;
    }
  }
